<div class="row">
  <div class="col-md-12">
    <h1>Log in</h1>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
  <%= render 'layouts/flash' %>

  <div class="form-group">
    <%= f.label :otp_attempt %>
    <%= f.text_field :otp_attempt, class: 'form-control' %>
  </div>
  <br />

  <div class="form-group">
    <%= f.submit 'Log in', class: 'btn btn-primary' %>
  </div>
<% end %>
